In [1]:
import pandas as pd
import numpy as np

## Extract all files

In [2]:
import os

# folder path
dir_path = os.getcwd()

# list to store files
files = []
# Iterate directory
for file in os.listdir(dir_path):
    # check only text files
    if file.endswith('.csv'):
        files.append(file)
print(files)

['A_AFA_aligned.csv', 'A_Anc_37_aligned.csv', 'A_Anc_6_aligned.csv', 'A_Anc_cFLIP_aligned.csv', 'A_AO810_aligned.csv', 'A_AOE_1_aligned.csv', 'A_AOE_2_aligned.csv', 'A_AOI_1_aligned.csv', 'A_AOI_2_aligned.csv', 'A_ASA_aligned.csv', 'A_ATA_aligned.csv', 'A_cFLIP_aligned.csv', 'A_Cp10_aligned.csv', 'A_Cp3_aligned.csv', 'A_Cp6_aligned.csv', 'A_Cp7_aligned.csv', 'A_Cp8_aligned.csv', 'D_AFA_aligned.csv', 'D_Anc_37_aligned.csv', 'D_Anc_6_aligned.csv', 'D_Anc_cFLIP_aligned.csv', 'D_AOE_1_aligned.csv', 'D_AOE_2_aligned.csv', 'D_AOI_1_aligned.csv', 'D_AOI_2_aligned.csv', 'D_ASA_aligned.csv', 'D_ATA_aligned.csv', 'D_cFLIP_aligned.csv', 'D_Cp10_aligned.csv', 'D_Cp3_aligned.csv', 'D_Cp6_aligned.csv', 'D_Cp7_aligned.csv', 'D_Cp8_aligned.csv', 'M_AFA_aligned.csv', 'M_Anc_37_aligned.csv', 'M_Anc_6_aligned.csv', 'M_Anc_cFLIP_aligned.csv', 'M_AO810_aligned.csv', 'M_AOE_1_aligned.csv', 'M_AOE_2_aligned.csv', 'M_AOI_1_aligned.csv', 'M_AOI_2_aligned.csv', 'M_ASA_aligned.csv', 'M_ATA_aligned.csv', 'M_cFLIP_aligned.csv', 'M_Cp10_aligned.csv', 'M_Cp3_aligned.csv', 'M_Cp6_aligned.csv', 'M_Cp7_aligned.csv', 'M_Cp8_aligned.csv']

In [7]:
len(files)

50

In [8]:
dfs = pd.read_csv(files[0])

for i in range(1,len(files)):
    dfn = pd.read_csv(files[i])
    dfs = pd.concat([dfs,dfn], axis=1)
dfs.to_csv('Merge_No_Urea.csv',index=False)

In [4]:
df1 = pd.read_csv('A_AFA_aligned.csv')
df2 = pd.read_csv('A_Anc_37_aligned.csv')
df1.head()

   A_AFA_CFNO A_AFA_NAME  A_AFA_REFNO  A_AFA_DC  A_AFA_BC
0        10.0      A/TYR         10.0     15.26    1622.0
1        11.0      A/LYS         11.0      4.36    1025.0
2        12.0      A/MET         12.0      7.22       0.0
3        13.0      A/ASN         13.0      2.96     824.0
4        14.0      A/HIS         14.0      5.77     623.0

AttributeError: 'DataFrame' object has no attribute 'concat'

In [13]:
d = pd.concat([df1,df2],axis=1)
d.to_csv('Trial1.csv', index=False)